<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>
<% if (isLogged) { %>
	<%- include("./partials/headerLogueado") %>
<% } else { %>
	<%- include("./partials/header") %>
<% } %>
<body>	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.png" alt="Banner de ofertas">
	</div>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i=0; i<productos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= productos[i].id %>">
							<figure class="product-box_image imgProd">
								<img src="/images/products/<%= productos[i].img_producto %>" alt="<%= productos[i].descripcion %>">
							</figure>
						</a>
							<article class="product-box_data">
								<h2><%= productos[i].nombre %></h2>
								<p><%= productos[i].descripcion %></p>
								<% if (productos[i].usuario) { %>
									<p>Subido por: <a class="user-i" href="/users/profile/<%= productos[i].usuario.id %>"><%= productos[i].usuario.usuario %></a></p>
								<% } else { %>
									<p>Subido por: <i>Usuario eliminado</i></p>
								<% } %>
								<p>Comentarios: <%= productos[i].comentarios.length %></p>
							</article>
					</section>
				</div>
			<% } %>
		</div>
	</div>
</body>	
<%- include("./partials/footer") %>
</html>
