<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>
<% if (isLogged) { %>
	<%- include("./partials/headerLogueado") %>
<% } else { %>
	<%- include("./partials/header") %>
<% } %>
<body>	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.png" alt="Banner de ofertas">
	</div>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i=0; i<data.productos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= data.productos[i].id %>">
							<figure class="product-box_image imgProd">
								<img src="/images/products/<%= data.productos[i].img_producto %>" alt="<%= data.productos[i].descripcion %>">
							</figure>
							<article class="product-box_data">
								<h2><%= data.productos[i].nombre %></h2>
								<p><%= data.productos[i].descripcion %></p>
								<p>Comentarios: <%= data.productos[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
</body>	
<%- include("./partials/footer") %>
</html>
