<%- include("./partials/head") %>
<% if (isLogged) { %>
    <%- include("./partials/headerLogueado") %>
<% } else { %>
    <%- include("./partials/header") %>
<% } %>

<% if (searchQuery) { %>
    <h1 class="products-title ss">Resultados de búsqueda para: "<%= searchQuery %>"</h1>
<% } %>

<% if (resultados && resultados.length === 0) { %> 
    <p>No se encontraron resultados de tu búsqueda.</p>

<% } else if (resultados && resultados.length > 0) { %>
    <div class="row"> 
    <% for (let i = 0; i < resultados.length; i++) { %> 
        <% let producto = resultados[i]; %> 
        <div class="col-12 col-sm-6 col-lg-3 space">
            <section class="product-box">
                <a href="/product/<%= producto.id %>"> 
                    <figure class="product-box_image imgProd">
                        <img src="/images/products/<%= producto.img_producto %>" alt="<%= producto.descripcion %>">
                    </figure>
                    </figure>
                    <article class="product-box_data">
                        <h2><%= producto.nombre %></h2>
                        <p><%= producto.descripcion %></p>
                        <% if (producto.usuario) { %>
							<p>Subido por: <a class="user-i" href="/users/profile/<%= producto.usuario.id %>"> <%= producto.usuario.usuario %></a> </p>
						<% } else { %>
							<p>Subido por: <i>Usuario eliminado</i></p>
						<% } %>
                        <p>Comentarios: <%= producto.comentarios.length %></p>
                    </article>
                </a>
            </section>
        </div>
    <% } %>
    </div>
<% } else { %>
    <p>Ocurrió un error al cargar los resultados o no se realizó una búsqueda.</p>
<%}%>